<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Weather Journal</title>
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
   </head>
   <body>
     <div id="headline">
        <h2>Travel App</h2>
     </div>
      <div id = "app">
        <img id="airport-img" src="https://www.smartertravel.com/uploads/2018/11/christmas-airport-baggage-claim-870x500.jpg"></img>
        <div class="input-div">
           <label for="zip">Enter the city you would like to travel to</label>
           <input type="text" id="city-name" placeholder="City name">
        </div>
        <div class="input-div">
           <label for="departure">Enter your departure date</label>
           <input type="text" id="depart-date" placeholder="mm/dd/yyyy">
        </div>
        <div class="input-div">
           <label for="arrival">Enter your return date</label>
           <input type="text" id="return-date" placeholder="mm/dd/yyyy">
        </div>
        <button id="submit-btn" type = "submit" onclick="Client.handleSubmit(event)"> SUBMIT </button>
      </div>
      <div id="results-div">
        <img id="destination-image" src=""></img>
        <h3 id="destination-description"></h3>
        <p id="trip-countdown"></p>
        <p id="trip-length"></p>
        <p id="destination-temp"></p>
      </div>
      <script>
         // Check that service workers are supported
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
      </script>
   </body>
</html>
